<div class="margem-topo alert alert-danger alert-dismissible" role="alert" *ngIf="erro.mensagem">{{erro.mensagem}}</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="th-animais" colspan="4">Animais</th>
        </tr>
        <tr>
            <th class="th-identificador texto-centralizado">Identificador</th>
            <th class="texto-centralizado">Nome</th>
            <th class="th-atualizar-remover"></th>
            <th class="th-atualizar-remover"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let animal of animais">
            <th class="th-identificador texto-centralizado">{{animal._id}}</th>
            <td>
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" [(ngModel)]="animal.nome" placeholder="Nome" />
                    </div>
                </div>
            </td>    
            <td class="td-atualizar-remover texto-centralizado"><button class="btn btn-warning" (click)="atualizar(animal, $event)">Atualizar</button></td>
            <td class="td-atualizar-remover texto-centralizado"><button class="btn btn-danger" (click)="remover(animal, $event)">Remover</button></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="margem-topo"></div>
<adiciona-animal [animais]="animais" [erro]="erro"></adiciona-animal>