  <nav class="nav navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand glyphicon glyphicon-globe" href="http://localhost:3000" aria-hidden="true"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li [class.active]="pessoasChecked">
                    <a (click)="ativarAbaPessoas()" [routerLink]="['Pessoas']">Pessoas</a>
                </li>
                <li [class.active]="animaisChecked">
                    <a (click)="ativarAbaAnimais()" [routerLink]="['Animais']">Animais</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <router-outlet></router-outlet>