<alert *ngIf="mensagem.msg" [type]="mensagem.type" dismissible="true" dismissOnTimeout="6000">
    {{ mensagem.msg }}
</alert>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="th-pessoas" colspan="5">Pessoas</th>
        </tr>
        <tr>
            <th class="th-identificador texto-centralizado">Identificador</th>
            <th class="texto-centralizado">Nome</th>
            <th class="texto-centralizado">Email</th>
            <th class="th-atualizar-remover"></th>
            <th class="th-atualizar-remover"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <th class="th-identificador texto-centralizado">{{pessoa._id}}</th>
            <td>
                <span>{{pessoa.nome}}</span>
            </td>    
            <td>
                <span>{{pessoa.email}}</span>
            </td>
            <td class="td-atualizar-remover texto-centralizado"><button class="btn btn-warning" (click)="adicionaPessoa.definirEditar(pessoa, $event)">Editar</button></td>
            <td class="td-atualizar-remover texto-centralizado"><button class="btn btn-danger" (click)="remover(pessoa, $event)">Remover</button></td>
        </tr>
    </tbody>
  </table>
</div>
<adiciona-pessoa #adicionaPessoa [pessoas]="pessoas" [mensagem]="mensagem"></adiciona-pessoa>