<div class="margem-topo alert alert-danger alert-dismissible" role="alert" *ngIf="mensagemErro">{{mensagemErro}}</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="th-pessoas" colspan="4">Pessoas</th>
        </tr>
        <tr>
            <th class="th-identificador texto-centralizado">Identificador</th>
            <th class="texto-centralizado">Nome</th>
            <th class="th-atualizar-remover"></th>
            <th class="th-atualizar-remover"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <th class="th-identificador texto-centralizado">{{pessoa._id}}</th>
            <td>
                <div class="row">
                    <div class="col-lg-3">
                        <input class="form-control" [(ngModel)]="pessoa.nome" placeholder="Nome" />
                    </div>
                </div>
            </td>    
            <td class="td-atualizar-remover texto-centralizado"><button class="btn btn-warning" (click)="atualizar(pessoa, $event)">Atualizar</button></td>
            <td class="td-atualizar-remover texto-centralizado"><button class="btn btn-danger" (click)="remover(pessoa, $event)">Remover</button></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="margem-topo"></div>
<adiciona-pessoa [pessoas]="pessoas" [mensagemErro]="mensagemErro"></adiciona-pessoa>